@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');

body {
  background: #f7fff5;
}

.lang {
  text-align: right;
  margin: 1em;
}

h1, .nav {
  text-align: center;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  margin-top: 1em;
  font-size: 3em;
}

.nav-link, h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

h2 {
  padding-top: 1em;
}

.nav-link {
    padding: 1em;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}